/node_modules
/oh_modules
/.hvigor
/entry/build
/build
/local.properties
/.idea
*.jpeg
log.txt
/.clang-format
/.clang-tidy
/.gitattributes

*.db
*.jpeg
*_small.png
lab_cand_*.png
cap_*.jpeg
*.jpeg
*_small.png
*_crop.png
cap_sheet*.png
m3c_top.png
h_compare.png
assets_sheet.png
lab_cands.png
lg*.json
mn*.json
build_log.txt
IslandScene_old.ets
